footer{}
.footer-all {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 200px;
}
.footer-style{
    width: 100%;
    height: 144px;
    background-color: #C38D69;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0 8px 0;
}
.footer-social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}
.footer-social img{
    width: 67px;
}
.footer-social a:link{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-social a:hover{
    color: #89532E;
    text-decoration: none;
}
.footer-social a:active{
    color: #EEDDD3;
    text-decoration: none;
}
.footer-social a:visited{
    color: #FFFFFF;
    text-decoration: none;
}