.intro-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 300px auto 200px auto;
    gap: 40px;
}
.intro-h3{
    text-align: center;
}
.intro-text{
    width: 1000px;
    margin: auto;
}
.intro-box-container{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 1000px;
}
.intro-box-container img{
    display: flex;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 469px;
    border: 1px solid #707070;
}
.intro-box-border{
    display: flex;
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 469px;
    border: 2px solid #030202;
    transform: rotate(5deg);
}
.intro-box-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    width: 400px;
    height: 469px;
    background-color: #C38D69;
}
.intro-box-text-container{
    display: flex;
    margin: 32px;
    width: 240px;
    height: auto;
    text-align: end;
}